

.cardHome{ 
    /* RESPONSIVE */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 2rem;
    margin-block: 2rem;
    padding: 0 1rem;
    justify-items: center;
    align-items: center;


}
.font{
    font-family: 'Montserrat', sans-serif;
    color: rgb(7, 4, 4);
    font-weight: bold;
}

  .optionStyle {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 2rem;


    justify-items: center;
    align-items: center;
    /* style */
    font-family: 'Montserrat', sans-serif;
	margin: 0px;
	cursor: pointer;
  	padding: 3px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	font-size: 1em;
	color: black;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 1px;
    position: relative;
    transition: all 0.25s ease;
	
}








  

  
 
